<div class = "container">
    <div class="col-lg-6">
        <div class="form-group">
            <label for="location">Місцезнаходження</label>
            <input type="text" class="form-control" id="location" ng-model="location">
            <button ng-click="SendData('location')"  class="btn btn-default">Додати</button>
        </div>

        <div class="form-group">
            <label for="phase">Етап:</label>
            <input type="text" class="form-control" id="phase" ng-model="phase">
            <button ng-click="SendData('phase')"  class="btn btn-default">Додати</button>
        </div>

        <div class="form-group">
            <label for="phase">Ім'я суб'єкта інноваційної інфраструктури: </label>
            <input type="text" class="form-control" id="subjectName" ng-model="subjectName">
            <label for="subjectUrl">Посилання:</label>
            <input type="text" class="form-control" id="subjectUrl" ng-model="subjectUrl">
            <div class="form-group">
                <label for = "membershipForSubject">Інституційна принадлежність:</label>
                <select multiple class = "form-control"
                        name           = "membershipForSubject"
                        id             = "membershipForSubject"
                        ng-model       = "membershipForSubject"
                        ng-options     = "membership.name  for  membership in memberships">
                </select>
            </div>
            <button ng-click="SendData('subject')"  class="btn btn-default">Додати</button>
        </div>

        <div class="form-group">
            <label for="sphere">Сфера діяльності: </label>
            <input type="text" class="form-control" id="sphere" ng-model="sphere">
            <button ng-click="SendData('sphere')"  class="btn btn-default">Додати</button>
        </div>

        <div class="form-group">
            <label for="membership">Інституційна принадлежність:</label>
            <input type="text" class="form-control" id="membership" ng-model="membership">
            <button ng-click="SendData('membership')"  class="btn btn-default">Додати</button>
        </div>

    </div>

    </div>




</div>
